<ul class="usa-card-group" style="padding-top: 20px">
  {% for item in site.data.connect_links %}
  <li class="tablet:grid-col-4 usa-card">
    <div class="usa-card__container">
      <header class="usa-card__header">
        <h2 class="usa-card__heading">{{item.title}}</h2>
      </header>
      <div class="usa-card__body">
        <p>{{item.description}}</p>
      </div>
      <div class="usa-card__footer">
        <button class="usa-button" href="{{item.button_url}}">{{item.button_text}}</button>
      </div>
    </div>
  <li>
  {% endfor %}
<ul>
