 <ul class="usa-collection">
  <li class="usa-collection__item">
    <div class="usa-collection__body">
      <h3 class="usa-collection__heading">
        <a class="usa-link" href="https://wonder.cdc.gov/">CDC WONDER</a>
      </h3>
      <p class="usa-collection__description">An online query system that provides access to a wide range of CDC resources and data systems. The intended audience is public health practitioners and decision makers.</p>
      <ul class="usa-collection__meta" aria-label="More information">
        <li class="usa-collection__meta-item">
          CDC
        </li>
      </ul>
    </div>
  </li>
</ul>
