{% comment %} Core values of the OCDO for the about page {% endcomment %}

<section class="usa-graphic-list usa-section usa-section--dark">
  <div class="grid-container">
    <div class="usa-graphic-list__row grid-row grid-gap">
      <div
        class="usa-media-block tablet:grid-col-6 desktop:grid-col-6 grid-col-12"
      >
        {% asset CV-Ethics.svg class="usa-media-block__img ocdo-about-icon"
        alt="Ethics/shield icon" %}
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">Ethical Use</h3>
          <p>
            Ethical use of data at original collection and future reuse
            demonstrates institutional integrity and endears trust in the
            decisions the data informs.
          </p>
        </div>
      </div>
      <div
        class="usa-media-block tablet:grid-col-6 desktop:grid-col-6 grid-col-12"
      >
        {% asset CV-Open.svg class="usa-media-block__img ocdo-about-icon"
        alt="Open/globe icon" %}
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">Transparency</h3>
          <p>
            We are clear about what we collect, why we collect it, how we collect it, and what we do with it, to promote trust in the data, processes, and organization.
          </p>
        </div>
      </div>
      <div
        class="usa-media-block tablet:grid-col-6 desktop:grid-col-6 grid-col-12"
      >
        {% asset CV-Quality.svg class="usa-media-block__img ocdo-about-icon"
        alt="Quality/science icon" %}
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">Efficiency</h3>
          <p> We promote streamlined, secure, and systematic uses of data that help accomplish more.</p>
        </div>
      </div>
      <div
        class="usa-media-block tablet:grid-col-6 desktop:grid-col-6 grid-col-12"
      >
        {% asset CV-Team.svg class="usa-media-block__img ocdo-about-icon"
        alt="Team icon" %}
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">Accountability</h3>
          <p>
            We stand by our products and services  to deliver quality and mission value.
          </p>
        </div>
      </div>
      <div
        class="usa-media-block tablet:grid-col-6 desktop:grid-col-6 grid-col-12"
      >
        {% asset CV-Collab.svg class="usa-media-block__img ocdo-about-icon"
        alt="Collaborate/link icon" %}
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">Education</h3>
          <p>We provide the training and education necessary for data users and stewards to understand and use data safely.</p>
        </div>
      </div>
      <div
        class="usa-media-block tablet:grid-col-6 desktop:grid-col-6 grid-col-12"
      >
        {% asset CV-Momentum.svg class="usa-media-block__img ocdo-about-icon"
        alt="Momentum/trending up icon" %}
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">Collaboration </h3>
          <p>We work together across divisions and organizations enable data accessibility and potential.</p>
        </div>
      </div>
    </div>
  </div>
</section>
