{% comment %} Core values of the OCDO for the about page {% endcomment %}

<section class="usa-graphic-list usa-section usa-section--dark">
  <div class="grid-container">
    <div class="usa-graphic-list__row grid-row grid-gap">
      <div
        class="usa-media-block tablet:grid-col-6 desktop:grid-col-6 grid-col-12"
      >
        {% asset CV-Ethics.svg class="usa-media-block__img ocdo-about-icon"
        alt="Ethics/shield icon" %}
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">Empower People with "Yes, And!"</h3>
          <p>
            Ethical use of data at original collection and future reuse
            demonstrates institutional integrity and endears trust in the
            decisions the data informs.
          </p>
        </div>
      </div>
      <div
        class="usa-media-block tablet:grid-col-6 desktop:grid-col-6 grid-col-12"
      >
        {% asset CV-Open.svg class="usa-media-block__img ocdo-about-icon"
        alt="Open/globe icon" %}
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">Apply Knowledge to Get Results</h3>
          <p>
            We are transparent about what we collect, why we collect it, how we
            collect it, and what we do with it. We request feedback from the
            broadest base of stakeholders. We aim to increase trust in the data,
            processes, and organization.
          </p>
        </div>
      </div>
      <div
        class="usa-media-block tablet:grid-col-6 desktop:grid-col-6 grid-col-12"
      >
        {% asset CV-Quality.svg class="usa-media-block__img ocdo-about-icon"
        alt="Quality/science icon" %}
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">Prioritize Impact</h3>
          <p>
            Trust in government depends on high quality of data and integrity of
            governance. We set policies and standards to guide the organization
            to apply consistent quality assurance for reliable decisions.
          </p>
        </div>
      </div>
      <div
        class="usa-media-block tablet:grid-col-6 desktop:grid-col-6 grid-col-12"
      >
        {% asset CV-Team.svg class="usa-media-block__img ocdo-about-icon"
        alt="Team icon" %}
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">Create Opportunities</h3>
          <p>
            Use collaboration within the agency and through engagement with
            partners and the public because we are greater together than apart.
          </p>
        </div>
      </div>
      <div
        class="usa-media-block tablet:grid-col-6 desktop:grid-col-6 grid-col-12"
      >
        {% asset CV-Collab.svg class="usa-media-block__img ocdo-about-icon"
        alt="Collaborate/link icon" %}
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">
            Default to Transparency
          </h3>
          <p>
            We embrace transparency and user-centered methods to co-create
            solutions with all stakeholders who&mdash;no matter their background
            and training&mdash;are respected and valued as partners. With open
            minds and humility, we listen.
          </p>
        </div>
      </div>
      <div
        class="usa-media-block tablet:grid-col-6 desktop:grid-col-6 grid-col-12"
      >
        {% asset CV-Momentum.svg class="usa-media-block__img ocdo-about-icon"
        alt="Momentum/trending up icon" %}
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">Listen to the People we Serve</h3>
          <p>
            We have a bias toward action and strive to be the catalyst to
            deliver more value, faster, throughout the organization.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
