<footer class="usa-footer site-footer" role="contentinfo">
  <div class="footer-section-bottom bg-base-lighter">
    <div class="grid-container">
      <div class="grid-row padding-3">
        <div class="tablet:grid-col">
          <div class="logo-links">
            <a class="footer-logo media_link" href="https://hhs.gov">
              {% asset dhhs-logo.png width="124px" alt="HHS logo" %}
            </a>
          </div>
        </div>
        <div class="tablet:grid-col"></div>
        <div class="tablet:grid-col ocdo-footer">
          <ul class="add-list-reset">
            <li><a class="ocdo-footer-link" href="/about/">About Us</a></li>
            <li><a class="ocdo-footer-link" href="https://www.hhs.gov/web/policies-and-standards/hhs-web-policies/disclaimer/index.html">Disclaimers</a></li>
            <li><a class="ocdo-footer-link" href="https://www.hhs.gov/">HHS.gov</a></li>
          </ul>
        </div>
        <div class="tablet:grid-col ocdo-footer">
          <ul class="add-list-reset">
            <li><a class="ocdo-footer-link" href="https://www.hhs.gov/accessibility.html">Accessibility</a></li>
            <li><a class="ocdo-footer-link" href="https://www.hhs.gov/privacy.html">Privacy Policy</a></li>
            <li><a class="ocdo-footer-link" href="https://www.hhs.gov/open/index.html">HHS.gov/open</a></li>
          </ul>
        </div>
        <div class="tablet:grid-col ocdo-footer">
          <ul class="add-list-reset">
            <li><a class="ocdo-footer-link" href="https://www.hhs.gov/about/agencies/asa/eeo/resources/no-fear-act/index.html">No FEAR</a></li>
            <li><a class="ocdo-footer-link" href="https://www.whitehouse.gov/">WhiteHouse.gov</a></li>
            <li><a class="ocdo-footer-link" href="https://www.usa.gov/">USA.gov</a></li>
          </ul>
        </div>
        <div class="tablet:grid-col ocdo-footer">
          <ul class="add-list-reset">
            <li><a class="ocdo-footer-link" href="https://www.hhs.gov/open/plain-writing/index.html">Plain Writing</a></li>
            <li><a class="ocdo-footer-link" href="https://www.hhs.gov/foia/">FOIA</a></li>
            <li><a class="ocdo-footer-link" href="https://www.usa.gov/gobiernousa/">GobiernoUSA.gov</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
