{% comment %} 
This will be displayed on the homepage. Ideally, you want to highlight key goals of the website
{% endcomment %}

<section class="usa-hero-new">
  <div class="grid-container">
    <div class="usa-hero__callout">
      <h2 class="usa-hero__heading"><span class="usa-hero__heading--alt">HHS Chief Data Officer</span>Where Data Becomes Health
      </h2>
      <p>The OCDO strategy is designed to build and implement a trusted, unified framework for data sharing that increases public trust in data.</p>
      <a class="usa-button" href="javascript:void(0)">Learn More</a>
    </div>
  </div>
</section>
