{% comment %}
This will be displayed on the homepage. Ideally, you want to highlight key goals of the website

This was the old learn more button so I don't forget
<a class="usa-button" href="{{site.url}}/about/">Learn More</a>
{% endcomment %}

<section class="ocdo-hero usa-hero">
  <div class="grid-container">
    <div class="ocdo-hero-callout usa-hero__callout">
      <h2 class="usa-hero__heading"><span class="usa-hero__heading--alt">PEOPLE FIRST</span>Purpose Always
      </h2>
      <p>Catalyzing healthy futures for all through science-driven innovation</p>
      <a class="usa-button" href="https://federalist-394a744d-d1a3-4819-b5f9-04e487201c09.app.cloud.gov/preview/kevinduvall-hhs/hhs-ocdo/InnovationX/about/">Learn More</a>
    </div>
  </div>
</section>
