{% comment %}
This will be displayed on the homepage. Ideally, you want to highlight key goals of the website
{% endcomment %}

<section class="ocdo-hero usa-hero">
  <div class="grid-container">
    <div class="ocdo-hero-callout usa-hero__callout">
      <h2 class="ocdo-hero__heading"><span class="usa-hero__heading--alt">HHS DATA-DRIVEN</span>Translating Data Into Action
      </h2>
      <p>We aspire to advance the well-being of all Americans through the streamlined, secure, and impactful use of data.</p>
      <a class="usa-button" href="{{site.baseurl}}/">Learn More</a>
    </div>
  </div>
</section>
