{% comment %}
Use this section to highlight key elements of your site. Some sites will only have two while others may have six to
eight.
{% endcomment %}


<section class="usa-graphic-list usa-section usa-section--dark">
  <div class="grid-container">
    <div class="usa-graphic-list__row grid-row grid-gap">
      <div class="usa-media-block tablet:grid-col">
        <ul style="list-style-type:none;">
            <li>{% asset highlight-dm.svg class="usa-media-block__img ocdo-highlight-icon" alt="Data maturity icon" %}</li>
            <li><a class="usa-button usa-button--base" href="https://federalist-394a744d-d1a3-4819-b5f9-04e487201c09.app.cloud.gov/preview/kevinduvall-hhs/hhs-ocdo/InnovationX/resources/covid-19-data-innovation/">Learn More</a></li>
        </ul>
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">COVID-19 Data-Driven Innovation</h3>
          <p>uUsing novel methods and collaboration to accelerate scientific and public health insights to shorten the time for COVID-19 information and solutions.</p>
        </div>
      </div>
      <div class="usa-media-block tablet:grid-col">
        <ul style="list-style-type:none;">
          <li>{% asset highlight-ds.svg class="usa-media-block__img ocdo-highlight-icon" alt="Data assessment icon" %}</li>
          <li><a class="usa-button usa-button--base" href="https://federalist-394a744d-d1a3-4819-b5f9-04e487201c09.app.cloud.gov/preview/kevinduvall-hhs/hhs-ocdo/InnovationX/resources/lyme-innovation2/">Learn More</a></li>
        </ul>
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">Lyme Innovation</h3>
          <p>Accelerating innovation in tick-borne disease prevention, diagnostics, and patient outcomes via next-gen technologies and interdisciplinary collaborations.</p>
        </div>
      </div>
    </div>
    <div class="usa-graphic-list__row grid-row grid-gap">
      <div class="usa-media-block tablet:grid-col">
        <ul style="list-style-type:none;">
          <li>{% asset highlight-di.svg class="usa-media-block__img ocdo-highlight-icon" alt="Data inventory icon" %}</li>
          <li><a class="usa-button usa-button--base" href="https://federalist-394a744d-d1a3-4819-b5f9-04e487201c09.app.cloud.gov/preview/kevinduvall-hhs/hhs-ocdo/InnovationX/resources/kidneyx/">Learn More</a></li>
        </ul>
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">KidneyX</h3>
          <p>A public-private partnership between HHS and the American Society of Nephrology (ASN) to accelerate artificial kidney development toward human clinical trials.</p>
        </div>
      </div>
      <div class="usa-media-block tablet:grid-col">
        <ul style="list-style-type:none;">
          <li>{% asset highlight-dg.svg class="usa-media-block__img ocdo-highlight-icon" alt="Data governance icon" %}</li>
          <li><a class="usa-button usa-button--base" href="https://federalist-394a744d-d1a3-4819-b5f9-04e487201c09.app.cloud.gov/preview/kevinduvall-hhs/hhs-ocdo/InnovationX/resources/health+/">Learn More</a></li>
        </ul>
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">Health+</h3>
          <p>A rigorous scientific approach to facilitate patient-centered innovations with human-centered design.</p>
        </div>
      </div>
    </div>
  </div>
</section>

