{% comment %}
Use this section to highlight key elements of your site. Some sites will only have two while others may have six to
eight.
{% endcomment %}


<section class="usa-graphic-list usa-section ocdo-section--dark">
  <div class="grid-container">
    <div class="usa-graphic-list__row grid-row grid-gap">
      <div class="usa-media-block tablet:grid-col">
        <ul style="list-style-type:none;">
            <li>{% asset highlight-dm.svg class="usa-media-block__img ocdo-highlight-icon" alt="Data maturity icon" %}</li>
            <li><a class="usa-button usa-button--base" href="{{site.url}}/operations/data-initiatives/">Learn More</a></li>
        </ul>
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">Data Maturity</h3>
          <p>A <b>performance management tool</b> to assess the current state of data capabilities, propose enhancements, and monitor progress.</p>
        </div>
      </div>
      <div class="usa-media-block tablet:grid-col">
        <ul style="list-style-type:none;">
          <li>{% asset highlight-ds.svg class="usa-media-block__img ocdo-highlight-icon" alt="Data assessment icon" %}</li>
          <li><a class="usa-button usa-button--base" href="{{site.url}}/resources/visualizations/">Learn More</a></li>
        </ul>
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">Data Skills</h3>
          <p>A service area to <b>identify need, source training, recommend curriculum, and monitor overall data literacy</b> for HHS.</p>
        </div>
      </div>
    </div>
    <div class="usa-graphic-list__row grid-row grid-gap">
      <div class="usa-media-block tablet:grid-col">
        <ul style="list-style-type:none;">
          <li>{% asset highlight-di.svg class="usa-media-block__img ocdo-highlight-icon" alt="Data inventory icon" %}</li>
          <li><a class="usa-button usa-button--base" href="{{site.url}}/resources/open-data/">Learn More</a></li>
        </ul>
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">Data Inventory</h3>
          <p>A service area to provide HHS with <b>a consolidated resource to locate data.</b></p>
        </div>
      </div>
      <div class="usa-media-block tablet:grid-col">
        <ul style="list-style-type:none;">
          <li>{% asset highlight-dg.svg class="usa-media-block__img ocdo-highlight-icon" alt="Data governance icon" %}</li>
          <li><a class="usa-button usa-button--base" href="{{site.url}}/operations/governance/">Learn More</a></li>
        </ul>
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">Data Governance</h3>
          <p>A service and communication tool to engage with HHS data leaders in the <b>creation and adoption of data policies, standards, and other enterprise tools</b> that improve the flow of data.</p>
        </div>
      </div>
    </div>
  </div>
</section>
