<div class="usa-logo" id="extended-logo">
  <div class = "combine">
    <div class = "logo">
      {% asset ocdo-logo.png height="100px" alt="HHS Office of the Chief Data Officer" %}
    </div>

    <div class = "text"> 
      <em class="usa-logo__text ocdo-logo"><a href="{{site.baseurl}}/" title="Home" aria-label="Home">HHS Office of the Chief Data Officer</a></em> 
    </div>
  </div>
</div>
<!--{% asset ocdo_logo.png height="80px" alt="HHS Office of the Chief Data Officer" %}-->
<!--<em class="usa-logo__text ocdo-logo"><a href="{{site.baseurl}}/" title="Home" aria-label="Home">HHS Office of the Chief Data Officer <img src="ocdo-logo.png" alt=""></a></em>-->
