<div class="usa-logo" id="extended-logo">
  <div style="float: left; width: 49%> 
    {% asset ocdo_logo.png height="100px" alt="HHS Office of the Chief Data Officer" %}
  </div>
  
  <div style="float: left; width: 49%> 
    <em class="usa-logo__text ocdo-logo"><a href="{{site.baseurl}}/" title="Home" aria-label="Home">HHS Office of the Chief Data Officer</a></em> 
  </div>
</div>
<!--{% asset ocdo_logo.png height="80px" alt="HHS Office of the Chief Data Officer" %}-->
<!--<em class="usa-logo__text ocdo-logo"><a href="{{site.baseurl}}/" title="Home" aria-label="Home">HHS Office of the Chief Data Officer <img src="ocdo-logo.png" alt=""></a></em>-->
