{% comment %}
To modify the menu system, you are welcome to edit this HTML directly or you can look inside _config.yml
where we provide an easy way to manage your navigation system
{% endcomment %}

<header class="usa-header usa-header--extended" role="banner">
  <div class="usa-navbar">
    {% include logo.html %}
    <button class="usa-menu-btn">Menu</button>
  </div>
  <nav role="navigation" class="usa-nav">
    <div class="usa-nav__inner">
      <button class="usa-nav__close">{% asset close.svg alt="close" %}</button>
      <ul class="usa-nav__primary usa-accordion">
        {% for nav_item in include.primary_navigation %}
        {% unless nav_item.children %}
        {% assign basedir = page.url | remove_first: '/' | split: '/' | first | lstrip %}
        {% assign linkdir = nav_item.url | replace: "/", "" | lstrip %}
        {% assign droplink = nav_item.name | downcase | lstrip %}
        <li class="usa-nav__primary-item ocdo-primarymenu">
          <a class="usa-nav__link{% if basedir == linkdir %} usa-current{% endif %}"
            href="{{ nav_item.url | prepend: site.baseurl}}"><span>{{ nav_item.name }}</span></a>
        </li>
        {% else %}
        {% assign nav_id = 'primary-nav-' | append: forloop.index %}
        {% assign droplink = nav_item.name | downcase | lstrip %}
        <li class="usa-nav__primary-item ocdo-primarymenu">
          <button class="usa-accordion__button usa-nav__link{% if basedir == droplink %} usa-current{% endif %}" aria-expanded="false"
            aria-controls="{{ nav_id }}"><span>{{ nav_item.name }}</span></button>
          <ul id="{{ nav_id }}" class="usa-nav__submenu ocdo-submenu">
            {% for subnav_item in nav_item.children %}
            <li class="usa-nav__submenu-item">
              <a href="{{ subnav_item.url | prepend: site.baseurl }}">{{ subnav_item.name }}</a>
            </li>
            {% endfor %}
          </ul>

        </li>
        {% endunless %}
        {% endfor %}
        <li class="usa-nav__primary-item">
          <a class="usa-nav__link"
            href="https://healthdata.gov/browse?category=Blog&sortBy=last_modified&utf8=%E2%9C%93"><span>Blog</span></a>
        </li>
      </ul>
      <div class="usa-nav__secondary">
        <ul class="usa-nav__secondary-links">
          <li class="usa-nav__secondary-item">
            <a class="ocdo-secondary-link" href="https://www.hhs.gov/coronavirus/index.html">COVID-19 Data Hub</a>
          </li>
          <li class="usa-nav__secondary-item">
            <a class="ocdo-secondary-link" href="https://healthdata.gov">HealthData.gov</a>
          </li>
        </ul>
        {% include searchgov/form.html searchgov=site.searchgov %}
      </div>
    </div>
  </nav>
</header>
