{% comment %}
This tagline will appear in your homepage
{% endcomment %}

<section class="grid-container usa-section usa-prose">
  <div class="grid-row grid-gap">
    <div class="tablet:grid-col-4">
      <h2 class="font-heading-xl margin-top-0 tablet:margin-bottom-0">Innovation can happen where you least expect it.</h2>
    </div>
    <div class="tablet:grid-col-8 usa-prose">
      <p>InnovationX unites inspired collaborators to decode and develop transformative solutions to today’s most pressing challenges.</p>
      <p>InnovationX is a team of doers reimagining and redefining what’s possible. We catalyze creative, game-changing approaches to health and human issues through historic public-private alliances, human-centered design, and data-driven innovation.</p> 
      <p>Ignited by transparency, open data, emerging technologies, the latest science, and lived experiences, our engagements have reached across disciplines for over a decade to achieve results. Together, we build equitable, scalable, leading-edge ideas that government, industry, or philanthropy implement to ensure health and well-being for all.</p>
      <p>
        <ul>
          <li><b>Prize challenges</b> provide incentive for innovation</li>
          <li><b>Tech sprints</b> apply industry best practices to government service</li>
          <li><b>Human-centered design:</b> build with, not for, the American people</li>
          <li><b>Partnerships and collaboration</b> leverage resources from private industry to advance our mission</li>
          <li><b>Open data roundtables</b> elevated underserved communities with social determinants of health insights</li>
        </ul>
      </p>
    </div>
  </div>
</section>
