{% comment %}
This tagline will appear in your homepage
{% endcomment %}

<section class="grid-container usa-section usa-prose">
  <div class="grid-row grid-gap">
    <div class="tablet:grid-col-4">
      <h2 class="font-heading-xl margin-top-0 tablet:margin-bottom-0">Data of the People, By the People, For the People</h2>
    </div>
    <div class="tablet:grid-col-8 usa-prose">
      <p>OCDO Mission is to responsibly and ethically enable <b>data-driven health and human services</b> to maximize the nation’s return on investment in its data and benefit the American public.</p>
      <p>We achieve this by leveraging OCDO’s enterprise position:
        <ul>
          <li>Engage 400 data sources and enterprise data sharing</li>
          <li>Build coalitions and shared decision making</li>
          <li>Assert OCDO’s capacity to convene and connect people</li>
          <li>Scout and scale solutions emerging from Operating Divisions</li>
          <li>Wield authority as OCDO to advance the department’s strategic priorities</li>
        </ul>
      </p>
    </div>
  </div>
</section>
