{% comment %}
This tagline will appear in your homepage
{% endcomment %}

<section class="grid-container usa-section usa-prose">
  <div class="grid-row grid-gap">
    <div class="tablet:grid-col-4">
      <h2 class="font-heading-xl margin-top-0 tablet:margin-bottom-0">The OCDO Mission</h2>
    </div>
    <div class="tablet:grid-col-8 usa-prose">
      <p>In support of the Department of Health and Human Services' mission to enhance the health and well-being of all Americans, the OCDO mission is to responsibly connect and translate data into action by:
        <ul>
          <li>Maximizing the nation’s return on investment through the systematic management of data as a strategic asset;</li>
          <li>Leading data governance and policy development for HHS;</li>
          <li>Providing stewardship of HHS data collection, cataloging, and records management; and</li>
          <li>Improving data collaboration and exchange through simplified access and usage.</li>
        </ul>
      </p>
    </div>
  </div>
</section>
