// Import the US Web Design System SASS.
$theme-show-notifications: false; // Hides updates from USWDS team
$theme-show-compile-warnings: false; // Hides sass warnings from USDWS (might be bad)

@import "uswds";

// smooth scroll

html {
	scroll-behavior: smooth;
}

p.goals {
	border: hidden;
    background-color: #25294D;
    color: #ffffff;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
}

// CSS Customizations

// Hero image
.ocdo-hero {
  background-image: asset_url("hero-image.jpg");
}

.ocdo-hero__heading {
  margin-bottom: 0;
  margin-top: 0;
  clear: both;
  font-family: Merriweather Web, Georgia, Cambria, Times New Roman, Times, serif;
  font-size: 1.95rem;
  line-height: 1.2;
  font-weight: bold;
  color: #d49f36;
  line-height: 1.2;
}

// Hero callout customizations
@media all and (min-width: 40em) {
  .ocdo-hero-callout {
    max-width: 32.23rem;
    background-color: #25294d;
  }
}

// Primary navigation

.ocdo-submenu{
  background-color: #25294d;
}

.ocdo-primarymenu{
  background-color: #25294d; 
}

// Secondary navigation customizations
.ocdo-secondary-link {
  color: #3d4551;
}

// Website title customizations
.ocdo-logo {
    width: 200%;
}

// Highlights background

.ocdo-section--dark{
  background-color: #25294d;
  color: #FFFFFF;
}

// Footer customizations
.ocdo-footer {
  margin-top: 20px;
}

a.ocdo-footer-link {
  font-weight: 600;
  color: #185394;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.ocdo-footer-title {
  font-size: 14pt;
  font-weight: 600;
}

.ocdo-footer-links {
  margin-bottom: 0;
  padding-bottom: 0;
}

.ocdo-footer-address {
  font-weight: 400;
  min-width: 350px;
}

// Highlight icons
.ocdo-highlight-icon {
  width: 124px;
}
.ocdo-about-icon {
  width: 60px;
}

// Side navigation styling
.usa-sidenav {
  @include u-border-bottom("base-light");

  a {
    @include u-padding-y(2);
    @include u-text("bold");

    &.usa-current {
      @include u-text("ink");

      &:after {
        @include u-bg("primary");
      }
    }

    &:hover {
      background-color: transparent;
      @include u-text("primary");
    }
  }
}

.usa-sidenav__item:first-child,
.usa-sidenav__item:only-child {
  @include u-border-top(0);
}

.usa-sidenav__item {
  @include u-border-top("base-light");
}

.usa-sidenav__sublist {
  @include u-padding-bottom(1);

  a {
    @include u-padding-y(1);
    @include u-text("normal");
  }

  .usa-sidenav__item {
    @include u-border-top(0);
  }
}

// default mode hide banner
.usa-banner__content {
  display: hidden;
}

@media screen and (min-width: 640px) {
  .tablet\:width-1\/3 {
    width: 33%;
  }
  .tablet\:float-left {
    float: left;
  }
}

@media screen and (min-width: 640px) {
  .paginate-link {
    display: initial;
  }
  .paginate-button {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .paginate-link {
    display: none;
  }
  .paginate-button {
    display: block;
  }
}

// collection component

$theme-collection-font-family: "ui";
$theme-collection-header-typeset: "ui", "md", 3;

$collection-thumb-width: 10;
$collection-thumb-width-mobile: 8;
$collection-thumb-margin: 2;

@include override-prose {
  .usa-collection {
    @include typeset($theme-collection-font-family, "sm", 3);
    @extend %usa-list;
    @include u-padding-left(0);
  }

  .usa-collection__item {
    @extend %usa-list-item;
    @include unstyled-list;
    @include u-align-items("align-start");
    @include u-border-top(1px);
    @include u-display("flex");
    @include u-margin-y(2);
    @include u-padding-top(2);
  }
}

.usa-collection__img,
.usa-collection__calendar-date {
  @include media-block-img;
  width: units($collection-thumb-width-mobile);
  margin-right: units($collection-thumb-margin);

  @include at-media("tablet") {
    width: units($collection-thumb-width);
  }
}

.usa-collection__body {
  @include u-flex(1);
}

.usa-collection__heading {
  @include typeset($theme-collection-header-typeset);
  @include u-margin-bottom(0);
  @include u-margin-top(0);
}

.usa-collection__description {
  @include u-margin-y(1);
}

.usa-collection__meta {
  @include unstyled-list;
  @include u-margin-top(0.5);
}

.usa-collection__meta-item {
  @include u-margin-top(0.5);
  @include typeset("ui", "2xs", 3);
  display: block;
  margin-right: units(1);

  &.usa-tag {
    @include u-bg("base-lighter");
    @include u-line-height("ui", 1);
    @include u-padding-y(0.5);
    @include u-text("ink");
    display: inline-block;
    margin-top: units(0.5);
    text-transform: capitalize;

    &--new {
      @include u-bg("accent-warm-dark");
      @include u-text("white");
    }
  }
}

.usa-collection__calendar-date {
  text-decoration: none;
}

.usa-collection__calendar-date-month,
.usa-collection__calendar-date-day {
  @include u-font("ui", 6);
  display: block;
  font-weight: fw("bold");
  padding: units(0.5);
  text-align: center;

  @include at-media("tablet") {
    padding: units(1);
  }
}

.usa-collection__calendar-date-month {
  @include u-radius-top("sm");
  background-color: color("primary");
  color: color("white");
}

.usa-collection__calendar-date-day {
  @include u-radius-bottom("sm");
  border: 1px solid color("primary");
  color: color("primary");
}

.usa-collection--condensed {
  .usa-collection__item {
    @include u-margin-y(1);
    @include u-padding-top(1);
  }
}

