// Import the US Web Design System SASS.
$theme-show-notifications: false; // Hides updates from USWDS team
$theme-show-compile-warnings: false; // Hides sass warnings from USDWS (might be bad)

@import "uswds";

// CSS Customizations

// Hero image
.ocdo-hero {
  background-image: asset_url("hero-image.jpg");
}

// Hero callout customizations
@media all and (min-width: 40em) {
  .ocdo-hero-callout {
    max-width: 28rem; // overrides USWDS maximum
  }
}

// Secondary navigation customizations
.ocdo-secondary-link {
  color: #3d4551;
}

// Website title customizations
.ocdo-logo {
    width: 200%;
}

// Footer customizations
.ocdo-footer {
  margin-top: 20px;
}
